body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.app {
    margin-top: -15px;
}
.day {
    float: left;
    width: 5px;
    height: 5px;
    background: #ccc;
    list-style: none;
    margin: 1px;
}

.pastDay {
    background: #FB9B38;
}

.currentDay {
    background: #d9312c;
}
